@charset "utf-8";
/**header**/

.header{height: 50px;width: 100%;position: fixed;z-index: 99;left: 0;top: 0;}	
.header .copy{height: 50px;padding: 0 2%;position: fixed;z-index: -1;left: 0;top: 0;background: #fff;width: 100%;opacity: 0.6;filter: alpha(opacity=60)}
.header .log {font-size:0;width:100%;height:100%;margin:0 auto;}
.header .log img{margin-right: 10px;display:inline-block;float:left;}
.header .log img.img1{width:57px;height:29px;margin-top:10px;cursor:pointer;margin-left:19%;}
.header .log img.img2{width:77px;height:25px;margin-top:10px;cursor:pointer;}
.header .nav a{color: #666;font-size: 16px;margin-left:28px;border-bottom: 2px solid #fff;padding-bottom: 5px;}
.header .nav a:hover{border-bottom: 2px solid #D26D57;}
.header .nav a.current{border-bottom: 2px solid #D26D57;}

/**content**/

@media only screen and (max-width:3000px) {
	#fixd{width:12%;height:37.5%;border-radius:8px;background:url(../images/erweima.jpg) no-repeat;background-size:100%;position:fixed;top:32.5%;left:58%;z-index:999;opacity: 1;filter: alpha(opacity=100)}   
	#fixd img{width:125px;height:125px;display:block;margin:0 auto;margin-top:35px;}
	#section0{width:100%;height:100%;background: url(../images/1_01.jpg) no-repeat center top;background-color:#fefdf9;}
	#section1{width:100%;height:100%;background: url(../images/1_02.jpg) no-repeat center top;background-color:#f6f6f6}
	#section2{width:100%;height:100%;background: url(../images/1_03.jpg) no-repeat center top;background-color:#fbf9fa ;}
	#section3{width:100%;height:100%;background: url(../images/1_04.jpg) no-repeat center top;background-color:#fefefe}
	#section4{width:100%;height:100%;background: url(../images/page5.jpg) no-repeat center top;position:relative;}	
	#btto{width:100%;height:23%;position:absolute;bottom:0;background:#fffdfe;z-index:998;}			
	#btto .btto{width:100%;height:45%;background:#4a4a4a;position:absolute;bottom:0;color:#fff;}
	#btto .btto p{text-align:center;display:block;}
	#btto .btto p.p1{line-height:32px;font-size:20px;height:32px;margin-top:4px;}
	#btto .btto p.p2{line-height:20px;font-size:14px;height:14px;color:#a7a7a7;}
	#btto .btto p.p3{line-height:12px;font-size:12px;height:12px;color:#a7a7a7;margin-top:8px;}
}
@media only screen and (min-width:1919px) and (max-width:2400px) {
	body{min-width:1280px;min-height:649.2px;}
	.header .log .right_nav{font-size:16px;height:50px;line-height:50px;color:#000000;cursor:pointer;float:right;margin-right:20%;}
	#fixd{width:234px;height:367px;border-radius:8px;background:url(../images/erweima.jpg) no-repeat;background-size:100%;position:fixed;top:32.5%;left:58%;z-index:999;opacity: 1;filter: alpha(opacity=100)}		
	#fixd img{width:125px;height:125px;display:block;margin:0 auto;margin-top:35px;}
	#container{display:none;}
/*x100%*/

	#section2 .im1{width:78px;height:83px;background: url(../images/奶瓶.png) no-repeat;background-size:100%;position:absolute;top:37%;left:18%;}
	#section2 .im2{width:65px;height:70px;background: url(../images/煲汤.png) no-repeat;background-size:100%;position:absolute;top:48%;left:33%;}
	#section2 .im3{width:71px;height:74px;background: url(../images/纸尿裤.png) no-repeat;background-size:100%;position:absolute;top:56%;left:19%;}
	#section4 .aa{width:95px;height:97px;background: url(../images/aa.png) no-repeat;background-size:100%;position:absolute;top:15%;left:25%;}
	#section4 .bb{width:111px;height:114px;background: url(../images/bb.png) no-repeat;background-size:100%;position:absolute;top:39%;left:19%;}
	#section4 .cc{width:103px;height:104px;background: url(../images/cc.png) no-repeat;background-size:100%;position:absolute;top:30%;left:45%;}
}
@media only screen and (min-width:1493px) and (max-width:1919px) {	
	body{min-width:1280px;min-height:649.2px;}	
	.header .log .right_nav{font-size:16px;height:50px;line-height:50px;color:#000000;cursor:pointer;float:right;margin-right:20%;}	
	#fixd{width:210.6px;height:330.3px;border-radius:8px;background:url(../images/erweima.jpg) no-repeat;background-size:100%;position:fixed;top:32.5%;left:58%;z-index:999;opacity: 1;filter: alpha(opacity=100)}
	#fixd img{width:112.5px;height:112.5px;display:block;margin:0 auto;margin-top:31.5px;}	
	#container{display:none;}
/*x90%*/
	#section2 .im1{width:70.2px;height:74.7px;background: url(../images/奶瓶.png) no-repeat;background-size:100%;position:absolute;top:37%;left:18%;}
	#section2 .im2{width:58.5px;height:63px;background: url(../images/煲汤.png) no-repeat;background-size:100%;position:absolute;top:48%;left:33%;}
	#section2 .im3{width:63.9px;height:66.6px;background: url(../images/纸尿裤.png) no-repeat;background-size:100%;position:absolute;top:56%;left:19%;}
	#section4 .aa{width:85.5px;height:87.3px;background: url(../images/aa.png) no-repeat;background-size:100%;position:absolute;top:15%;left:23%;}
	#section4 .bb{width:99.9px;height:102.6px;background: url(../images/bb.png) no-repeat;background-size:100%;position:absolute;top:39%;left:17%;}
	#section4 .cc{width:92.7px;height:93.6px;background: url(../images/cc.png) no-repeat;background-size:100%;position:absolute;top:30%;left:43%;}	
}
@media only screen and (min-width:1280px) and (max-width:1493px) {	
	body{min-width:1280px;min-height:649.2px;}	
	.header .log .right_nav{font-size:16px;height:50px;line-height:50px;color:#000000;cursor:pointer;float:right;margin-right:20%;}	
	#fixd{width:187.2px;height:293.6px;border-radius:8px;background:url(../images/erweima.jpg) no-repeat;background-size:100%;position:fixed;top:32.5%;left:58%;z-index:999;opacity: 1;filter: alpha(opacity=100)}
	#fixd img{width:100px;height:100px;display:block;margin:0 auto;margin-top:28px;}	
	#container{display:none;}
/*x80%*/
	#section2 .im1{width:62.4px;height:66.4px;background: url(../images/奶瓶.png) no-repeat;background-size:100%;position:absolute;top:35%;left:18%;}
	#section2 .im2{width:52px;height:56px;background: url(../images/煲汤.png) no-repeat;background-size:100%;position:absolute;top:46%;left:33%;}
	#section2 .im3{width:56.8px;height:59.2px;background: url(../images/纸尿裤.png) no-repeat;background-size:100%;position:absolute;top:54%;left:19%;}
	#section4 .aa{width:76px;height:77.6px;background: url(../images/aa.png) no-repeat;background-size:100%;position:absolute;top:15%;left:22%;}
	#section4 .bb{width:88.8px;height:91.2px;background: url(../images/bb.png) no-repeat;background-size:100%;position:absolute;top:39%;left:17%;}
	#section4 .cc{width:83.6px;height:83.2px;background: url(../images/cc.png) no-repeat;background-size:100%;position:absolute;top:30%;left:43%;}	
}
/*70*/
@media only screen and (min-width:769px)  and (max-width:1280px) {
	body{min-width:1280px;min-height:649.2px;}	
	.header .log .right_nav{font-size:16px;height:50px;line-height:50px;color:#000000;cursor:pointer;position:fixed;left:957px;}
	
	#fixd{width:163.8px;height:256.9px;border-radius:8px;background:url(../images/erweima.jpg) no-repeat;background-size:100%;position:fixed;top:250px;left:739px;z-index:999;opacity: 1;filter: alpha(opacity=100)}	
	#fixd img{width:87.5px;height:87.5px;display:block;margin:0 auto;margin-top:24.5px;}	
	#container{display:none;}
	#section2 .im1{width:54.6px;height:58.1px;background: url(../images/奶瓶.png) no-repeat;background-size:100%;position:absolute;top:37%;left:18%;}
	#section2 .im2{width:45.5px;height:49px;background: url(../images/煲汤.png) no-repeat;background-size:100%;position:absolute;top:48%;left:33%;}
	#section2 .im3{width:49.7px;height:51.8px;background: url(../images/纸尿裤.png) no-repeat;background-size:100%;position:absolute;top:56%;left:19%;}
	#section4 .aa{width:66.5px;height:67.2px;background: url(../images/aa.png) no-repeat;background-size:100%;position:absolute;top:15%;left:24%;}
	#section4 .bb{width:77.7px;height:79.8px;background: url(../images/bb.png) no-repeat;background-size:100%;position:absolute;top:39%;left:19%;}
	#section4 .cc{width:72.1px;height:72.8px;background: url(../images/cc.png) no-repeat;background-size:100%;position:absolute;top:30%;left:42%;}	
}
@media only screen and (min-width:260px)  and (max-width:768px) {
			.header{display:none;}
			#section0{display:none;}
			#section1{display:none;}
			#section2{display:none;}
			#section3{display:none;}
			#section4{display:none;}	
			#fixd{display:none;} 
			#fullpage{display:none;}
			#fullPage-nav{display:none;}  
			#container img{display:block;} 
}




/**backTop**/
#returnBack{z-index: 999999;position: absolute;right:0.5%;bottom:18%;}

/**Arrow**/
.top-arrow{position: absolute;text-align: center;bottom: 0px;left: 50%;margin-left: -44px;}



.section{position: relative;position: relative;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;overflow: hidden;}



