			@charset "utf-8";
			body,
			ul,
			ol,
			dl,
			li,
			dt,
			dd,
			p,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			img,
			a,
			input {
				padding: 0;
				margin: 0;
			}
			
			ul,
			ol {
				list-style: none;
			}
			/* CSS Document */
			
			img {
				border: 0;
				display: block;
			}
			
			a {
				text-decoration: none;
				color: #909090;
			}
			
			a:hover {
				color: #a90a0a;
			}
			
			html,
			body {
				width: 100%;
				height: 100%;
				background-color: #d71934;
				font-size: 12px;
				line-height: 24px;
				font-family: "微软雅黑";
				color: #3e3e3e;
				overflow-y:auto;
				overflow-x:hidden;
				-webkit-overflow-scrolling : touch;
			}

			#banner {
				width: 100%;
				height: 11.22rem;
				background-image: url(http://appimg.yizhenjia.com/share/banner拷贝t2x.png);
				background-size: 100% 11.22rem;
				/*margin-top: 1.835rem;*/
			}
			
			#share1 {
				width: 14.165rem;
				height: 9.472rem;
				background-image: url(http://appimg.yizhenjia.com/share/1t2x.png);
				background-size: 14.165rem 9.472rem;
				margin: 0 auto;
				margin-top: -1.8rem;
				position: relative;
			}
			/*#share1 p{font-weight:bold;}*/
			
			#share1 .p1 {
				color: #da1c40;
				font-size: 0.768rem;
				margin-left: 2.731rem;
				padding-top: 0.6rem;
			}
			
			#share1 .p2 {
				width: 9.45rem;
				color: #924d0e;
				line-height: 0.747rem;
				height: 0.747rem;
				position: absolute;
				top: 2.6rem;
				left: 3.328rem;
				font-size: 0.53rem;
			}
			
			#share1 .p3 {
				color: #924d0e;
				line-height: 0.747rem;
				height: 0.747rem;
				position: absolute;
				top: 3.347rem;
				left: 3.128rem;
				font-size: 0.53rem;
			}
			
			#share1 .p4 {
				color: #da1c40;
				line-height: 0.512rem;
				height: 0.512rem;
				position: absolute;
				bottom: 0.64rem;
				left: 2.05rem;
				font-size: 0.512rem;
			}
			
			#register1 {
				width: 14.165rem;
				height: 9.472rem;
				background-image: url(http://appimg.yizhenjia.com/share/2t2x.png);
				background-size: 14.165rem 9.472rem;
				margin: 0 auto;
				position: relative;
				margin-top: 0.683rem;
			}
			
			#register1 .p1 {
				color: #da1c40;
				font-size: 0.768rem;
				margin-left: 2.731rem;
				padding-top: 0.6rem;
			}
			
			#register1 .p2 {
				width: 10rem;
				color: #924d0e;
				line-height: 0.747rem;
				height: 0.747rem;
				position: absolute;
				top: 2.6rem;
				left: 3.328rem;
				font-size: 0.53rem;
			}
			
			#register1 .p4 {
				color: #da1c40;
				line-height: 0.512rem;
				height: 0.512rem;
				position: absolute;
				bottom: 0.64rem;
				left: 2.05rem;
				font-size: 0.512rem;
			}
			
			#success1 {
				width: 14.165rem;
				height: 9.472rem;
				background-image: url(http://appimg.yizhenjia.com/share/3t2x.png);
				background-size: 14.165rem 9.472rem;
				margin: 0 auto;
				position: relative;
				margin-top: 0.683rem;
				margin-bottom: 0.64rem;
			}
			
			#success1 .p1 {
				color: #da1c40;
				font-size: 0.768rem;
				margin-left: 2.731rem;
				padding-top: 0.6rem;
			}
			
			#success1 .p2 {
				width: 10rem;
				color: #924d0e;
				line-height: 0.747rem;
				height: 0.747rem;
				position: absolute;
				top: 2.6rem;
				left: 3.328rem;
				font-size: 0.53rem;
			}
			
			#success1 .p4 {
				color: #da1c40;
				line-height: 0.512rem;
				height: 0.512rem;
				position: absolute;
				bottom: 0.64rem;
				left: 2.05rem;
				font-size: 0.512rem;
			}
			
/*			#service1 {
				width: 15.104rem;
				height: 9.941rem;
				background-image: url(http://appimg.yizhenjia.com/share/4.png);
				background-size: 15.104rem 9.941rem;
				margin: 0 auto;
				margin-right: 0rem;
				position: relative;
			}*/
			
			#service1 .p1 {
				color: #da1c40;
				font-size: 0.725rem;
				padding-top: 1.8rem;
				margin-left: 2.3rem;
			}
			
			#service1 .p2 {
				width: 10rem;
				color: #924d0e;
				line-height: 0.747rem;
				height: 0.747rem;
				position: absolute;
				top: 4.224rem;
				left: 5.328rem;
				font-size: 0.53rem;
			}
			
			#service1 .p3 {
				color: #da1c40;
				line-height: 0.512rem;
				height: 0.512rem;
				position: absolute;
				top: 5.41rem;
				left: 3.6rem;
				font-size: 0.768rem;
			}
			
			#service1 .p5 {
				color: #da1c40;
				font-size: 0.875rem;
				font-style: normal;
				position: absolute;
				top: 7.15rem;
				left: 6.74rem;
			}
			
			#service1 .p5 span {
				font-size: 1.62rem;
				font-weight:bold;
			}
			
			#bottom1 {
				width: 12.37rem;
				height: 2.13rem;
				/*background: #ffb400;*/
				/*border-radius: 6px;*/
				/*margin: 0 auto;*/
				float:right;
				margin-top: 2.04rem;
				margin-bottom: 0.64rem;
			}
			
			#bottom1 p {
				height: 2.13rem;
				line-height: 2.13rem;
				font-size: 0.725rem;
				color: #fff;
				text-align: center;
				font-weight: bold;
			}
			
			.p4 {
				color: #00a3e1;
			}
			
			.end_yizhen {
				width: 100%;
				height: 1.56rem;
				float:right;
			}


/*********************************************************在560~760即iphone5~6横屏时显示**********************************************************/
			@media only screen and (min-width:320px) and (max-width:410px){ 		
				#banner {
					width: 100%;
					height: 11.22rem;
					background-image: url(http://appimg.yizhenjia.com/share/banner拷贝t2x.png);
					background-size: 100% 11.22rem;
					/*margin-top: 1.835rem;*/
				}	
				#share1 {
					width: 14.165rem;
					height: 9.472rem;
					background-image: url(http://appimg.yizhenjia.com/share/1t2x.png);
					background-size: 14.165rem 9.472rem;
					margin: 0 auto;
					margin-top: -1.8rem;
					position: relative;
				}	
				#register1 {
					width: 14.165rem;
					height: 9.472rem;
					background-image: url(http://appimg.yizhenjia.com/share/2t2x.png);
					background-size: 14.165rem 9.472rem;
					margin: 0 auto;
					position: relative;
					margin-top: 0.683rem;
				}	
				#success1 {
					width: 14.165rem;
					height: 9.472rem;
					background-image: url(http://appimg.yizhenjia.com/share/3t2x.png);
					background-size: 14.165rem 9.472rem;
					margin: 0 auto;
					position: relative;
					margin-top: 0.683rem;
					margin-bottom: 0.64rem;
				}	
				#service1 {
					width: 15rem;
					height: 9.941rem;
					background-image: url(http://appimg.yizhenjia.com/share/4t2x.png);
					background-size: 15rem 9.941rem;
					background-repeat: no-repeat;
					float:right;
					margin-right:0.01rem;
					position: relative;
				}																		
			}
/*********************************************************在大于768即ipad竖屏时显示**********************************************************/
			@media only screen and (min-width:413px){		
				#banner {
					width: 100%;
					height: 11.22rem;
					background-image: url(http://appimg.yizhenjia.com/share/banner拷贝t3x.png);
					background-size: 100% 11.22rem;
					/*margin-top: 1.835rem;*/
				}	
				#share1 {
					width: 14.165rem;
					height: 9.472rem;
					background-image: url(http://appimg.yizhenjia.com/share/1t3x.png);
					background-size: 14.165rem 9.472rem;
					margin: 0 auto;
					margin-top: -1.8rem;
					position: relative;
				}	
				#register1 {
					width: 14.165rem;
					height: 9.472rem;
					background-image: url(http://appimg.yizhenjia.com/share/2t3x.png);
					background-size: 14.165rem 9.472rem;
					margin: 0 auto;
					position: relative;
					margin-top: 0.683rem;
				}	
				#success1 {
					width: 14.165rem;
					height: 9.472rem;
					background-image: url(http://appimg.yizhenjia.com/share/3t3x.png);
					background-size: 14.165rem 9.472rem;
					margin: 0 auto;
					position: relative;
					margin-top: 0.683rem;
					margin-bottom: 0.64rem;
				}		
				#service1 {
					width: 15rem;
					height: 9.941rem;
					background-image: url(http://appimg.yizhenjia.com/share/4t3x.png);
					background-size: 15rem 9.941rem;
					background-repeat: no-repeat;
					float:right;
					margin-right:0.01rem;
					position: relative;
				}																	
			}
/***************解决在qq浏览器下fixed失效回弹卡顿效果**********************************/
			#content .list{
				-webkit-transform: translateZ(0);
			}